[submodule "frontend"]
	path = frontend
	url = https://github.com/katkhedepushpak/notes-app-frontend.git
[submodule "bcakend"]
	path = bcakend
	url = https://github.com/katkhedepushpak/notes-app-backend
