[submodule "frontend"]
	path = frontend
	url = https://github.com/katkhedepushpak/notes-app-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/katkhedepushpak/notes-app-backend.git
